@model Restaurante.Web.Data.Ingrediente

@{
    ViewData["Title"] = "Editar Ingrediente";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" class="mt-4">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Nome" class="form-label">@Model.Nome</label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}